.complete {
  /* background-color: #b3ffec; */
  /* background-color: #cae9e0; */
  background-color: #1aa6b7;
  /* background-color: #cbe3ca; */
  /* background-color: #567db0; */
}
.incomplete {
  /* background-color: #ffb3b3; */
  /* background-color: #7dc8ca; */
  background-color: #f56a79;
  /* background-color: #f2d3ce; */
  /* background-color: #83a4b6; */
}
input {
  border-width: 0px;
  border-radius: 0.4rem;
  color: #1c1717;
}
.title {
  font-weight: bold;
}
.description {
  font-style: italic;
}
input:enabled.incomplete {
  background-color: #f78893;
}
input:enabled.complete {
  background-color: #20ccdf;
}
.btn-group {
  height: 22px;
}
.btn-primary.incomplete {
  background-color: #1aa6b7 !important;
  border-color: #1aa6b7 !important;
}
.btn-primary.complete {
  background-color: #f56a79 !important;
  border-color: #f56a79 !important;
}
.btn-primary {
  margin-left: 5px !important;
  justify-content: center;
  align-items: center;
  display: flex;
}
label {
  border-radius: 0.25rem !important;
}
.toast {
  margin: 5px;
}
