<ngb-toast
  class="{{ todo.completed ? 'complete' : 'incomplete' }}"
  [autohide]="false"
  (contextmenu)="toggleMenu($event)"
>
  <h5>
    <input
      #title
      class="{{ todo.completed ? 'title complete' : 'title incomplete' }}"
      [value]="todo.title"
      [disabled]="!inputEnabled"
    />
  </h5>
  <hr />
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
    <input
      #description
      class="{{
        todo.completed ? 'description complete' : 'description incomplete'
      }}"
      [value]="todo.description"
      [disabled]="!inputEnabled"
    />
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
      <label *ngIf="inputEnabled" ngbButtonLabel class="btn-primary">
        <input
          ngbButton
          type="radio"
          value="middle"
          (click)="finishEdit(title.value, description.value)"
        />
        Done
      </label>
    </div>
  </div>
</ngb-toast>
<app-context-menu
  *ngIf="!isHidden"
  [x]="xPosTabMenu"
  [y]="yPosTabMenu"
  [complete]="todo.completed"
  (mouseleave)="hideMenu()"
  (left)="hideMenu()"
  (action)="handleAction($event)"
></app-context-menu>
