<div>
  <app-todo
    *ngFor="let todo of todos"
    [todo]="todo"
    [user]="user"
    [index]="todos.indexOf(todo)"
  ></app-todo>
  <ngb-toast class="{{ 'incomplete' }}" [autohide]="false">
    <h5><input #title class="head" placeholder="Task Title" /></h5>
    <hr />
    <div class="creation">
      <input #description class="description" placeholder="Task description" />
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
        <label ngbButtonLabel class="btn-primary">
          <input
            ngbButton
            type="radio"
            value="middle"
            (click)="
              createNew(title.value, description.value);
              title.value = '';
              description.value = ''
            "
          />
          Add
        </label>
      </div>
    </div>
  </ngb-toast>
</div>
