div {
  display: flex;
}
.incomplete {
  /* background-color: #ffb3b3; */
  /* background-color: #7dc8ca; */
  background-color: #f56a79;
  /* background-color: #f2d3ce; */
  /* background-color: #83a4b6; */
}
input {
  background-color: #f78893;
  border-width: 0px;
  border-radius: 0.4rem;
}
.btn-primary {
  background-color: #1aa6b7 !important;
  border-color: #1aa6b7 !important;
}
.toast {
  margin: 5px;
}
.head {
  font-weight: bold;
}
.description {
  font-style: italic;
}
.btn-group {
  margin-left: 5px;
}
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
