<form class="menu" [ngStyle]="{ 'left.px': x, 'top.px': y }">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
    <label
      ngbButtonLabel
      [class]="complete ? 'btn-primary incomplete' : 'btn-primary complete'"
    >
      <input ngbButton type="radio" (click)="pushAction('toggleComplete')" />
      {{ complete ? "Re-Open" : "Finish" }}
    </label>
    <label ngbButtonLabel class="btn-primary edit">
      <input ngbButton type="radio" (click)="pushAction('edit')" />
      Edit
    </label>
    <label ngbButtonLabel class="btn-primary danger">
      <input ngbButton type="radio" (click)="pushAction('delete')" />
      Delete
    </label>
  </div>
</form>
