<ngb-toast>
  <div class="head">
    <h5><input class="title" [value]="project.title" [disabled]="true" /></h5>
    <button class="btn-primary" (click)="deleteProject()">
      Delete
    </button>
  </div>
  <input class="description" [value]="project.description" [disabled]="true" />
  <div *ngFor="let todo of project.todos" class="todo">
    <input
      [disabled]="true"
      [value]="todo.title"
      [class]="(todo.completed ? 'complete ' : 'incomplete ') + 'title'"
    />
    <input
      [disabled]="true"
      [value]="todo.description"
      [class]="(todo.completed ? 'complete ' : 'incomplete ') + 'description'"
    />
    <button
      class="btn-primary"
      (click)="toggleComplete(project.todos.indexOf(todo))"
    >
      {{ todo.completed ? "Finish" : "Re-Open" }}
    </button>
  </div>
  <div class="todo">
    <input #title placeholder="Title" class="title" />
    <input #description placeholder="Description" class="description" />
    <button
      class="btn-primary"
      (click)="createNew(title.value, description.value)"
    >
      Submit
    </button>
  </div>
</ngb-toast>
