ngb-toast {
  background-color: #002d40;
  max-width: 600px;
  margin: 5px;
}
input {
  border-width: 0px;
  border-radius: 1rem;
  padding-left: 7px;
  margin-left: 5px;
  color: #1aa6b7 !important;
}
input:disabled {
  background-color: #002d40;
}
input:enabled {
  background-color: #004766;
}
input.complete {
  color: #1aa6b7 !important;
}
input.incomplete {
  color: #f78893 !important;
}
button.incomplete {
  color: #1aa6b7 !important;
}
.title {
  font-weight: bold;
}
.description {
  font-style: italic;
}
.todo {
  display: flex;
}
.head {
  display: flex;
}
.btn-primary {
  background-color: #1aa6b7 !important;
  color: #d9ecf2 !important;
  border-width: 0px !important;
  height: 21px;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px !important;
  border-radius: 1rem !important;
}
