ngb-toast {
  background-color: #002d40;
  max-width: 500px;
  margin: 5px;
}
input {
  border-width: 0px;
  border-radius: 1rem;
  padding-left: 7px;
  background-color: #004766;
  color: #1aa6b7 !important;
  margin-left: 5px;
}
.title {
  font-weight: bold;
}
.description {
  font-style: italic;
}
.todo {
  display: flex;
}
.btn-primary {
  background-color: #1aa6b7 !important;
  color: #d9ecf2 !important;
  border-width: 0px !important;
  height: 21px;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px !important;
  border-radius: 1rem !important;
}
.back {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
